.cart-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.cart-item-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.cart-item-info {
  flex: 1;
}

.cart-item-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.cart-item-price {
  font-size: 16px;
  color: #555;
}

.cart-item-actions {
  display: flex;
  align-items: center;
}

.cart-button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.cart-button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.cart-remove {
  background-color: #dc3545;
}

.cart-item-quantity {
  font-size: 16px;
  margin: 0 10px;
}

.cart-total {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  margin-top: 20px;
}

.cart-checkout {
  display: block;
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Recia;
    font-size: 25px;
    font-weight: 700;
    line-height: 35.5px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.cart-checkout.disabled {
  background-color: #ddd; /* Changer la couleur pour l'état désactivé */
  cursor: not-allowed;
}


.full-clickable-link {
  display: block; /* Rend le lien un bloc pour occuper tout l'espace */
  width: 100%;    /* Prend toute la largeur du bouton */
  height: 100%;   /* Prend toute la hauteur du bouton */
  text-decoration: none; /* Supprime le soulignement */
  color: white; /* Assure que la couleur reste cohérente */
}

.full-clickable-link.disabled-link {
  pointer-events: none; /* Empêche les clics */
  color: #bbb; /* Change la couleur pour indiquer l'état désactivé */
}

.cart-loading,
.cart-error {
  text-align: center;
  font-size: 18px;
  color: #555;
  margin-top: 20px;
}

.cart-item-quantity-input.loading {
  opacity: 0.5;
  pointer-events: none;
}
.quantity-loading-spinner {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid transparent;
  border-top: 2px solid #000;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin-left: 8px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
