.checkout{
    display: flex;
    justify-content: space-between;
    margin: 20px 92px;
    padding: 20px;
    border-bottom: 1px solid lightgray;
}

.sidebar {
  flex: 1; /* Largeur ajustée pour le récap */
  position: relative; /* Important pour le comportement sticky */
}

.separator{ 
    width: 100% !important;
    border: 2px solid var(--primary-color);
}
