.map {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map img {
  max-width: 100%;
}

.legend {
  display: flex;
  align-items: center;
  margin-top: 1rem; /* Espace entre la carte et la légende */
  text-align: center;
}

.legend img {
  vertical-align: middle;
  margin-right: 0.5rem; /* Espace entre l'image et le texte */
}

.legend p {
  margin: 0;
}
