.clients {
  width: 100%;
  height: 350px;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
}

.client-level {
  display: flex;
  align-items: center;
  height: 211px;
}

/* Ajustements de baseline pour chaque niveau */
.level-1 {
  margin-top: 0px;
}

.level-2 {
  margin-top: 110px;
}


.title {
  font-family: Zodiak;
  font-size: 56px;
  font-weight: 540;
  line-height: 75.04px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
