.scroll-to-top-button {
  position: fixed;
  bottom: 7em;
  right: 3em;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 999;
  
  &.show {
    opacity: 1;
  }

    
.arrow-up {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-135deg);
    width: 1.5em;
    height: 1.5em;
    border: solid #ffb300;
    border-width: 0 0.2em 0.2em 0;
    display: inline-block;
    border-radius: 0.2em;
}

}
