.socials{
    margin-left: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 92px;
    max-width: 100%
}

.socials p {
    font-family: Recia;
    font-size: 25px;
    font-weight: 600;
    line-height: 35.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

