.why-vino {
    width: 100%;
    max-height: 100%; /* Ajustement automatique de la hauteur */
    gap: 20px; /* Espacement entre les éléments */
    background: #FAFAFA;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* Centrer verticalement les items */
    padding: 20px 0; /* Espacement en haut et en bas */
}

.title {
    font-family: Zodiak;
    font-size: 56px;
    font-weight: 540;
    line-height: 75.04px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  margin-bottom: 30px; /* Espacement entre le titre et le contenu */
}

/* Responsivité pour tablettes et petits écrans */
@media (max-width: 768px) {
  .why-vino {
    flex-direction: column; /* Réorganisation verticale des éléments */
    align-items: center; /* Centrage des items */
    gap: 30px; /* Augmentation de l’espacement entre les items */
    padding: 20px; /* Réduction des marges internes */
  }

  .title {
    font-size: 40px; /* Réduction de la taille de la police */
    line-height: 60px; /* Ajustement de l’interligne */
    text-align: center; /* Centrage du texte */
  }
}

/* Responsivité pour les très petits écrans */
@media (max-width: 480px) {
  .why-vino {
    gap: 20px; /* Réduction de l’espacement entre les items */
    padding: 10px; /* Marges internes réduites */
  }

  .title {
    font-size: 32px; /* Taille de police encore plus petite */
    line-height: 50px;
  }
}
