:root {
  --primary-color: #591F19;
  --secondary-color:#591F19;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  cursor: pointer;
}

body {
  font-family: Recia, Zodiak;
  font-size: 20px;
  line-height: 26.8px;
  font-weight: 540;
  color: #591F19;
  min-height: 100vh;
}