:root {
  font-family: "Recia";
  font-size: 20px;
  line-height: 26.8px;
  font-weight: 540;
  --text-color: #591F19;
  --primary-color: #591F19;
  --secondary-color:#591F19;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
}
a:hover {
  cursor: pointer;
}

body {
  min-height: 100vh;
}